@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar-dark {
    background-color: #966aff;
}
span{
    color:black;
}
.welcome,.askquestion,.aboutus{
    font-family: 'Arvo', serif;
    font-weight:600;
}

.question,.answer,.aboutcontent{
    font-family: 'Montserrat', sans-serif;
}
